@charset "UTF-8";
body {
    background-color: rgb(51, 51, 204);
    font: normal 15pt arial;
}
header {
    text-align: center;
    color: white;
}
section {
    text-align: center;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.367);
}
footer {
    text-align: center;
    font-style: italic;
    color: white;
}